<div id="header">

	<ul id="hdr_lang">
	<li><a href="?change_language=fr"><img alt="fr" width="16" height="11" src="gfx/language/fr.gif" /><br />FR</a></li>
	<li><a href="?change_language=en"><img alt="en" width="16" height="11" src="gfx/language/en.gif" /><br />EN</a></li>
	<li><a href="?change_language=de"><img alt="de" width="16" height="11" src="gfx/language/de.gif" /><br />DE</a></li>
	<li><a href="?change_language=es"><img alt="es" width="16" height="11" src="gfx/language/es.gif" /><br />ES</a></li>
	<li><a href="?change_language=nl"><img alt="nl" width="16" height="11" src="gfx/language/nl.gif" /><br />NL</a></li>
	<li><a href="?change_language=it"><img alt="it" width="16" height="11" src="gfx/language/it.gif" /><br />IT</a></li>
	<li><a href="?change_language=ru"><img alt="ru" width="16" height="11" src="gfx/language/ru.gif" /><br />RU</a></li>
	<li><a href="?change_language=zh"><img alt="zh" width="16" height="11" src="gfx/language/zh.gif" /><br />ZH</a></li>
	<li><a href="?change_language=zh_TW"><img alt="zh_TW" width="16" height="11" src="gfx/language/tw.gif" /><br />TW</a></li>
	<li><a href="?change_language=sr"><img alt="sr" width="16" height="11" src="gfx/language/sr.gif" /><br />SR</a></li>
	<li><a href="?change_language=pt"><img alt="pt" width="16" height="11" src="gfx/language/pt.gif" /><br />PT</a></li>
	<li><a href="?change_language=pt_BR"><img alt="pt_BR" width="16" height="11" src="gfx/language/pt_br.gif" /><br />BR</a></li>
	<li><a href="?change_language=pl"><img alt="pl" width="16" height="11" src="gfx/language/pl.gif" /><br />PL</a></li>
	<li><a href="?change_language=hu"><img alt="hu" width="16" height="11" src="gfx/language/hu.gif" /><br />HU</a></li>
	<li><a href="?change_language=fi"><img alt="fi" width="16" height="11" src="gfx/language/fi.gif" /><br />FI</a></li>
	<li><a href="?change_language=lv"><img alt="lv" width="16" height="11" src="gfx/language/lv.png" /><br />LV</a></li>
	<li><a href="?change_language=sv"><img alt="sv" width="16" height="11" src="gfx/language/sv.gif" /><br />SV</a></li>
	<li><a href="?change_language=cs"><img alt="cz" width="16" height="11" src="gfx/language/cz.png" /><br />CZ</a></li>
	<li><a href="?change_language=he"><img alt="he" width="16" height="11" src="gfx/language/he.png" /><br />HE</a></li>
	</ul>

	<div id="hdr_dtclogo"><a target="_blank" href="__DTC_LOGOLINK__"><img alt="__DTC_TITLE__" src="__DTC_LOGO__" /></a></div>

	<div id="hdr_dtctext"><b>__DTC_TITLE__</b><br />__DTC_SUBTITLE__</div>
	<div id="hdr_version">__DTC_VERSION__ <font color="red">__AUTH_USER__</font></div>
	<div id="hdr_doclink"><a href="/dtcdoc/">__DOCUMENTATION__</a> | <a href="/phpmyadmin">__PHPMYADMIN__</a></div>
</div>
